.images{
  height: 400px !important;
}

.imagesPerfil{
  width: 100px !important;
  height: 100px !important;
}

.iconWhatsapp{
  width: 20px;
  margin-right: 5px;
}

.numbersWhatsapp{
  display: flex;
}

.divWhatsapp{
  display: flex;
}

.divPhotos{
  background-color: darkgray;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-left: auto;
}

.iconDirection{
  margin-right: 5px;
}

.numPhotos{
  color: snow;
}

.buttonShow{
  text-decoration: none
}
.titleDirection{
  display: flex;
  margin-bottom: 0px;
  padding: 0px;
}

.direction{
  display: flex;
  margin-bottom: 0px;
  padding: 0px;
}

.textDirection{
  color: darkorange;
}

.red{
  color: red;
  margin: 0px;
  font-style: oblique;
}

.cardHeader{
  color: white;
  margin: 0px;
  font-style: oblique;
}

.comments{
  color: white;
  margin: 0px;
}

.divCrudGirl{
  display: flex;
}

.divMargin{
  margin-right: 10px;
}

.cardBody{
  padding: 10px !important;
}

.cardPerfil{
  margin-right: 20px;
  margin-bottom: 10px;
  border: 0px;
  background-color: #282c34 !important;
}

.perfil{
  display: flex;
}

.cardGirl{
  background-color: #1b1b1b !important;
}

.divCardForm{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

.cardForm{
  background-color: #282c34 !important;
}

.main-footer {
  color: white;
  background-color: #282c34;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.formRow{
  display: flex;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 93.8vh;
}
.content-wrap {    
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  flex: 1;
}

.navbar{
  background-color: #282c34;
  margin: 0px;
  flex: 1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
